*{
  margin: 1%;
  padding: 1%;
  background-color: black;
  color: gray;
}
.btn{
  border: 0cap;
}
.message{
  border: 5px;
  border-color: grey;
  
}
.message::placeholder{
  white-space:pre-line; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}